.profile__credentials {
  margin: 0;
  color: #fff;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: calc(48/42);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 899.98px) {
  .profile__credentials {
    font-size: 27px;
    line-height: calc(27/26);
  }
}
