.profile__edit-button {
  background-color: #000;
  background-image: url(../../../images/pen.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #fff;
  box-sizing: border-box;
  min-height: 24px;
  min-width: 24px;
  padding: 0;
  cursor: pointer;
  transition: opacity 0.5s ease;
}

.profile__edit-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 767.98px) {
  .profile__edit-button {
    min-height: 18px;
    min-width: 18px;
  }
}
