.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, 282px);
  column-gap: 17px;
  row-gap: 20px;
  margin: 0 auto;
  justify-content: center;
  padding: 50px 0 0;
}

@media screen and (max-width: 767.98px) {
  .gallery {
    padding: 36px 0 0;
  }
}
