.profile {
  width: 100%;
  padding: 40px 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 767.98px) {
  .profile {
    padding: 42px 0 0;
    flex-direction: column;
    gap: 33px;
  }
}
