.header__logo {
  margin: 0;
  background-image: url(../../../images/logo.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 33px;
  width: 142px;
}

@media screen and (max-width: 767.98px) {
  .header__logo {
    height: 24.4px;
    width: 103.74px;
  }
}
