.profile__credentials-button {
  display: inline-flex;
  align-items: baseline;
  gap: 18px;
}

@media screen and (max-width: 767.98px) {
  .profile__credentials-button {
    position: relative;
  }
}

