.profile__description {
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 1;
  margin: 7px 0 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 767.98px) {
  .profile__description {
    font-size: 14px;
    margin: 14px 0 0;
    text-align: center;
  }
}
