.cards__like-button {
    background-color: transparent;
    background-image: url(../../../images/heart.svg);
    background-repeat: no-repeat;
    background-position: center;
    border: 0;
    min-height: 19px;
    min-width: 22px;
    padding: 0;
    margin: 0;
    cursor: pointer;
    transition: opacity 0.5s ease;
}

.cards__like-button:hover {
  opacity: 0.5;
}

