.popup__input {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(17/14);
  padding: 0 0 9px 0;
  color: #000;
  font-family: inherit;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}

.popup__input:focus {
  outline: none;
}
